################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwinklyWPF/bin/Debug/net5.0-windows
